# **1. Data cleaning**

In [2]:
import pandas as pd

In [3]:
df_2015 = pd.read_csv("Raw_Datasets/2015.csv")

df_2015.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [4]:
df_2015.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')

In [5]:
df_2015.columns = df_2015.columns.str.lower()
df_2015.columns

Index(['country', 'region', 'happiness rank', 'happiness score',
       'standard error', 'economy (gdp per capita)', 'family',
       'health (life expectancy)', 'freedom', 'trust (government corruption)',
       'generosity', 'dystopia residual'],
      dtype='object')

In [6]:
df_2015 = df_2015.rename(columns={
    "happiness rank" : "happiness_rank",
    "happiness score" : "happiness_score",
    "standard error": "standard_error",
    "economy (gdp per capita)" : "gdp_per_capita",
    "health (life expectancy)" : "life_expectancy",
    "trust (government corruption)": "government_corruption",
    "dystopia residual" : "dystopia_residual"
})

df_2015.head()

,country,region,happiness_rank,happiness_score,standard_error,gdp_per_capita,family,life_expectancy,freedom,government_corruption,generosity,dystopia_residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [7]:
null_values_2015 = df_2015.isnull().sum()
null_values_2015

country                  0
region                   0
happiness_rank           0
happiness_score          0
standard_error           0
gdp_per_capita           0
family                   0
life_expectancy          0
freedom                  0
government_corruption    0
generosity               0
dystopia_residual        0
dtype: int64

In [8]:
df_2015.shape

(158, 12)

In [9]:
safe_df_2015 = df_2015.copy()

In [10]:
df_2016 = pd.read_csv("Raw_Datasets/2016.csv")
print(df_2016.head())

null_values_2016 = df_2016.isnull().sum()
null_values_2016

       Country          Region  Happiness Rank  Happiness Score  \
0      Denmark  Western Europe               1            7.526
1  Switzerland  Western Europe               2            7.509
2      Iceland  Western Europe               3            7.501
3       Norway  Western Europe               4            7.498
4      Finland  Western Europe               5            7.413

   Lower Confidence Interval  Upper Confidence Interval  \
0                      7.460                      7.592
1                      7.428                      7.590
2                      7.333                      7.669
3                      7.421                      7.575
4                      7.351                      7.475

   Economy (GDP per Capita)   Family  Health (Life Expectancy)  Freedom  \
0                   1.44178  1.16374                   0.79504  0.57941
1                   1.52733  1.14524                   0.86303  0.58557
2                   1.42666  1.18326                   0.86733  0.56624
3                   1.57744  1.12690                   0.79579  0.59609
4                   1.40598  1.13464                   0.81091  0.57104

   Trust (Government Corruption)  Generosity  Dystopia Residual
0                        0.44453     0.36171            2.73939
1                        0.41203     0.28083            2.69463
2                        0.14975     0.47678            2.83137
3                        0.35776     0.37895            2.66465
4                        0.41004     0.25492            2.82596

Country                          0
Region                           0
Happiness Rank                   0
Happiness Score                  0
Lower Confidence Interval        0
Upper Confidence Interval        0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
Dystopia Residual                0
dtype: int64

In [11]:
safe_df_2016 = df_2016.copy()

In [12]:
df_2016.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual'],
      dtype='object')

In [13]:
df_2016 = df_2016.rename(columns={
    "Country" : "country",
    "Region" : "region",
    "Happiness Rank" : "happiness_rank",
    "Happiness Score" : "happiness_score",
    "Lower Confidence Interval" : "lower_confidence_interval",
    "Upper Confidence Interval" : "upper_confidence_interval",
    "Economy (GDP per Capita)" : "gdp_per_capita",
    "Family" : "family",
    "Health (Life Expectancy)" : "life_expectancy",
    "Freedom" : "freedom",
    "Trust (Government Corruption)": "government_corruption",
    "Generosity": "generosity",
    "Dystopia Residual" : "dystopia_residual"
})

df_2016.head()

,country,region,happiness_rank,happiness_score,lower_confidence_interval,upper_confidence_interval,gdp_per_capita,family,life_expectancy,freedom,government_corruption,generosity,dystopia_residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [14]:
df_2016.shape

(157, 13)

In [15]:
df_2017 = pd.read_csv("Raw_Datasets/2017.csv")
df_2017.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [16]:
safe_df_2017 = df_2017.copy()

In [17]:
df_2017 = df_2017.rename(columns={
    "Country" : "country",
    "Happiness.Rank" : "happiness_rank",
    "Happiness.Score" : "happiness_score",
    "Whisker.high" : "whisker.high",
    "Whisker.low" : "whisker.low",
    "Economy..GDP.per.Capita." : "gdp_per_capita",
    "Family" : "family",
    "Health..Life.Expectancy." : "life_expectancy",
    "Freedom" : "freedom",
    "Trust..Government.Corruption.": "government_corruption",
    "Generosity": "generosity",
    "Dystopia.Residual" : "dystopia_residual"
})

df_2017.head()

,country,happiness_rank,happiness_score,whisker.high,whisker.low,gdp_per_capita,family,life_expectancy,freedom,generosity,government_corruption,dystopia_residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [18]:
null_values_2017 = df_2017.isnull().sum()
null_values_2017

country                  0
happiness_rank           0
happiness_score          0
whisker.high             0
whisker.low              0
gdp_per_capita           0
family                   0
life_expectancy          0
freedom                  0
generosity               0
government_corruption    0
dystopia_residual        0
dtype: int64

In [19]:
df_2018 = pd.read_csv("Raw_Datasets/2018.csv")
df_2018.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [20]:
safe_df_2018 = df_2018.copy()

In [21]:
df_2018 = df_2018.rename(columns={
    "Country or region" : "country",
    "Overall rank" : "happiness_rank",
    "Score" : "happiness_score",
    "GDP per capita" : "gdp_per_capita",
    "Social support" : "family",
    "Healthy life expectancy" : "life_expectancy",
    "Freedom to make life choices" : "freedom",
    "Perceptions of corruption": "government_corruption",
    "Generosity": "generosity",
})

df_2018.head()

,happiness_rank,country,happiness_score,gdp_per_capita,family,life_expectancy,freedom,generosity,government_corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [22]:
df_2018.shape

(156, 9)

In [23]:
null_values_2018 = df_2018.isnull().sum()
null_values_2018

happiness_rank           0
country                  0
happiness_score          0
gdp_per_capita           0
family                   0
life_expectancy          0
freedom                  0
generosity               0
government_corruption    1
dtype: int64

In [24]:
df_2019 = pd.read_csv("Raw_Datasets/2019.csv")
df_2019.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [25]:
df_2019.tail()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091

In [26]:
safe_df_2019 = df_2019.copy()

In [27]:
df_2019 = df_2019.rename(columns={
    "Country or region" : "country",
    "Overall rank" : "happiness_rank",
    "Score" : "happiness_score",
    "GDP per capita" : "gdp_per_capita",
    "Social support" : "family",
    "Healthy life expectancy" : "life_expectancy",
    "Freedom to make life choices" : "freedom",
    "Perceptions of corruption": "government_corruption",
    "Generosity": "generosity",
})

df_2019.head()

,happiness_rank,country,happiness_score,gdp_per_capita,family,life_expectancy,freedom,generosity,government_corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [28]:
null_values_2019 = df_2019.isnull().sum()
null_values_2019

happiness_rank           0
country                  0
happiness_score          0
gdp_per_capita           0
family                   0
life_expectancy          0
freedom                  0
generosity               0
government_corruption    0
dtype: int64

In [29]:
df_2019.tail()

,happiness_rank,country,happiness_score,gdp_per_capita,family,life_expectancy,freedom,generosity,government_corruption
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091

In [30]:
# function to reorder the columns so that we concat everything will be in place

def reorder_columns(df, column_order):
    # Insures that every column exists (if there is something missing adds NaN
    for col in column_order:
        if col not in df.columns:
            df[col] = None  

    # Reorders the columns
    return df[column_order]

In [31]:
standard_columns = [
    'country','happiness_rank', 'happiness_score',
    'gdp_per_capita', 'family', 'life_expectancy', 'freedom',
    'government_corruption', 'generosity', 'dystopia_residual'
]

In [32]:
# reordering for every dataset

safe_df_2015 = reorder_columns(df_2015, standard_columns)
df_2015.head()

,country,region,happiness_rank,happiness_score,standard_error,gdp_per_capita,family,life_expectancy,freedom,government_corruption,generosity,dystopia_residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [33]:
print(df_2015.columns)

Index(['country', 'region', 'happiness_rank', 'happiness_score',
       'standard_error', 'gdp_per_capita', 'family', 'life_expectancy',
       'freedom', 'government_corruption', 'generosity', 'dystopia_residual'],
      dtype='object')

In [34]:
# droping columns that don't add much information and that the others datasets don't have

df_2015 = df_2015.drop(columns=["region", "standard_error"])
df_2015.head()

,country,happiness_rank,happiness_score,gdp_per_capita,family,life_expectancy,freedom,government_corruption,generosity,dystopia_residual
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [35]:
df_2016 = reorder_columns(df_2016, standard_columns)
df_2016.head()

,country,happiness_rank,happiness_score,gdp_per_capita,family,life_expectancy,freedom,government_corruption,generosity,dystopia_residual
0,Denmark,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [36]:
df_2017 = reorder_columns(df_2017, standard_columns)
df_2017.head()

,country,happiness_rank,happiness_score,gdp_per_capita,family,life_expectancy,freedom,government_corruption,generosity,dystopia_residual
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.315964,0.362012,2.277027
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.400770,0.355280,2.313707
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.153527,0.475540,2.322715
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.367007,0.290549,2.276716
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.382612,0.245483,2.430182

In [37]:
df_2018 = reorder_columns(df_2018, standard_columns)
df_2018.head()

,country,happiness_rank,happiness_score,gdp_per_capita,family,life_expectancy,freedom,government_corruption,generosity,dystopia_residual
0,Finland,1,7.632,1.305,1.592,0.874,0.681,0.393,0.202,None
1,Norway,2,7.594,1.456,1.582,0.861,0.686,0.340,0.286,None
2,Denmark,3,7.555,1.351,1.590,0.868,0.683,0.408,0.284,None
3,Iceland,4,7.495,1.343,1.644,0.914,0.677,0.138,0.353,None
4,Switzerland,5,7.487,1.420,1.549,0.927,0.660,0.357,0.256,None

In [38]:
df_2019 = reorder_columns(df_2019, standard_columns)
df_2019.head()

,country,happiness_rank,happiness_score,gdp_per_capita,family,life_expectancy,freedom,government_corruption,generosity,dystopia_residual
0,Finland,1,7.769,1.340,1.587,0.986,0.596,0.393,0.153,None
1,Denmark,2,7.600,1.383,1.573,0.996,0.592,0.410,0.252,None
2,Norway,3,7.554,1.488,1.582,1.028,0.603,0.341,0.271,None
3,Iceland,4,7.494,1.380,1.624,1.026,0.591,0.118,0.354,None
4,Netherlands,5,7.488,1.396,1.522,0.999,0.557,0.298,0.322,None

In [39]:
df_2015['year'] = 2015
df_2016['year'] = 2016
df_2017['year'] = 2017
df_2018['year'] = 2018
df_2019['year'] = 2019

In [40]:
df_2015.head()

,country,happiness_rank,happiness_score,gdp_per_capita,family,life_expectancy,freedom,government_corruption,generosity,dystopia_residual,year
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015

In [41]:
df_2019.head()

,country,happiness_rank,happiness_score,gdp_per_capita,family,life_expectancy,freedom,government_corruption,generosity,dystopia_residual,year
0,Finland,1,7.769,1.340,1.587,0.986,0.596,0.393,0.153,None,2019
1,Denmark,2,7.600,1.383,1.573,0.996,0.592,0.410,0.252,None,2019
2,Norway,3,7.554,1.488,1.582,1.028,0.603,0.341,0.271,None,2019
3,Iceland,4,7.494,1.380,1.624,1.026,0.591,0.118,0.354,None,2019
4,Netherlands,5,7.488,1.396,1.522,0.999,0.557,0.298,0.322,None,2019

# **2. This part of the code will save the 5 datasets as csv files**

In [42]:
import os

# adding a new folder named Clean_Datasets
output_folder = "Clean_Datasets"
os.makedirs(output_folder, exist_ok=True)

In [43]:
#

dfs_by_year = {
    2015: df_2015,
    2016: df_2016,
    2017: df_2017,
    2018: df_2018,
    2019: df_2019
}

# Saves each dataset in to csv files in a specific folder
for year, df in dfs_by_year.items():
    output_path = os.path.join(output_folder, f"clean_{year}.csv")
    df.to_csv(output_path, index=False)
    print(f"Saved: {output_path}")

Saved: Clean_Datasets\clean_2015.csv
Saved: Clean_Datasets\clean_2016.csv
Saved: Clean_Datasets\clean_2017.csv
Saved: Clean_Datasets\clean_2018.csv
Saved: Clean_Datasets\clean_2019.csv

# **3. Merging the datasets in one**
```

In [44]:
final_df = pd.concat([df_2015, df_2016, df_2017, df_2018, df_2019], ignore_index=True)

cols = final_df.columns.tolist()
cols.remove('year')
final_df = final_df[['year'] + cols]

final_df.to_csv("world_happyiness_5_years.csv", index=False)

final_df.head()

C:\Users\sofia\AppData\Local\Temp\ipykernel_17200\2817207272.py:1: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([df_2015, df_2016, df_2017, df_2018, df_2019], ignore_index=True)

,year,country,happiness_rank,happiness_score,gdp_per_capita,family,life_expectancy,freedom,government_corruption,generosity,dystopia_residual
0,2015,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,2015,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,2015,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,2015,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,2015,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [45]:
# final_df = final_df.drop(columns=["gdp_per_capita"])
# final_df.head()

In [46]:
final_df

,year,country,happiness_rank,happiness_score,gdp_per_capita,family,life_expectancy,freedom,government_corruption,generosity,dystopia_residual
0,2015,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,2015,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,2015,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,2015,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,2015,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...
777,2019,Rwanda,152,3.334,0.35900,0.71100,0.61400,0.55500,0.41100,0.21700,NaN
778,2019,Tanzania,153,3.231,0.47600,0.88500,0.49900,0.41700,0.14700,0.27600,NaN
779,2019,Afghanistan,154,3.203,0.35000,0.51700,0.36100,0.00000,0.02500,0.15800,NaN
780,2019,Central African Republic,155,3.083,0.02600,0.00000,0.10500,0.22500,0.03500,0.23500,NaN
781,2019,South Sudan,156,2.853,0.30600,0.57500,0.29500,0.01000,0.09100,0.20200,NaN

In [47]:
safe_final_df = final_df.copy()

In [48]:
final_df_null = final_df.isnull().sum()
final_df_null

year                       0
country                    0
happiness_rank             0
happiness_score            0
gdp_per_capita             0
family                     0
life_expectancy            0
freedom                    0
government_corruption      1
generosity                 0
dystopia_residual        312
dtype: int64

In [49]:
final_df.describe()

,year,happiness_rank,happiness_score,gdp_per_capita,family,life_expectancy,freedom,government_corruption,generosity,dystopia_residual
count,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000,781.000000,782.000000,470.000000
mean,2016.993606,78.698210,5.379018,0.916047,1.078392,0.612416,0.411091,0.125436,0.218576,2.092717
std,1.417364,45.182384,1.127456,0.407340,0.329548,0.248309,0.152880,0.105816,0.122321,0.565772
min,2015.000000,1.000000,2.693000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.328580
25%,2016.000000,40.000000,4.509750,0.606500,0.869363,0.440183,0.309768,0.054000,0.130000,1.737975
50%,2017.000000,79.000000,5.322000,0.982205,1.124735,0.647310,0.431000,0.091000,0.201982,2.094640
75%,2018.000000,118.000000,6.189500,1.236187,1.327250,0.808000,0.531000,0.156030,0.278832,2.455575
max,2019.000000,158.000000,7.769000,2.096000,1.644000,1.141000,0.724000,0.551910,0.838075,3.837720

In [50]:
final_df.value_counts()

year  country         happiness_rank  happiness_score  gdp_per_capita  family    life_expectancy  freedom   government_corruption  generosity  dystopia_residual
2015  Afghanistan     153             3.575            0.319820        0.302850  0.303350         0.234140  0.097190               0.365100    1.952100             1
2016  Uzbekistan      49              5.987            0.735910        1.168100  0.501630         0.608480  0.283330               0.343260    2.346380             1
2017  Australia       10              7.284            1.484415        1.510042  0.843887         0.601607  0.301184               0.477699    2.065211             1
      Armenia         121             4.376            0.900597        1.007484  0.637524         0.198303  0.026674               0.083488    1.521499             1
      Argentina       24              6.599            1.185295        1.440451  0.695137         0.494519  0.059740               0.109457    2.614005             1
                                                                                                                                                                   ..
2015  Uzbekistan      44              6.003            0.632440        1.340430  0.597720         0.658210  0.308260               0.228370    2.237410             1
      Uruguay         32              6.485            1.061660        1.208900  0.811600         0.603620  0.245580               0.232400    2.321420             1
      United States   15              7.119            1.394510        1.247110  0.861790         0.546040  0.158900               0.401050    2.510110             1
      United Kingdom  21              6.867            1.266370        1.285480  0.909430         0.596250  0.320670               0.519120    1.969940             1
2017  Zimbabwe        138             3.875            0.375847        1.083096  0.196764         0.336384  0.095375               0.189143    1.597970             1
Name: count, Length: 470, dtype: int64

In [51]:
final_df.shape

(782, 11)

In [52]:
final_df.nunique()

year                       5
country                  170
happiness_rank           158
happiness_score          716
gdp_per_capita           742
family                   732
life_expectancy          705
freedom                  697
government_corruption    635
generosity               664
dystopia_residual        470
dtype: int64

In [53]:
final_df.isnull().sum()

year                       0
country                    0
happiness_rank             0
happiness_score            0
gdp_per_capita             0
family                     0
life_expectancy            0
freedom                    0
government_corruption      1
generosity                 0
dystopia_residual        312
dtype: int64

In [54]:
df_countries = final_df[['country']].drop_duplicates().reset_index(drop=True)
df_countries['country_id'] = df_countries.index + 1  
final_df = final_df.merge(df_countries, on='country', how='left')

In [55]:
final_df.head()

,year,country,happiness_rank,happiness_score,gdp_per_capita,family,life_expectancy,freedom,government_corruption,generosity,dystopia_residual,country_id
0,2015,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,1
1,2015,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2
2,2015,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,3
3,2015,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,4
4,2015,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,5

In [56]:
final_df

,year,country,happiness_rank,happiness_score,gdp_per_capita,family,life_expectancy,freedom,government_corruption,generosity,dystopia_residual,country_id
0,2015,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,1
1,2015,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2
2,2015,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,3
3,2015,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,4
4,2015,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,5
...,...,...,...,...,...,...,...,...,...,...,...,...
777,2019,Rwanda,152,3.334,0.35900,0.71100,0.61400,0.55500,0.41100,0.21700,NaN,154
778,2019,Tanzania,153,3.231,0.47600,0.88500,0.49900,0.41700,0.14700,0.27600,NaN,146
779,2019,Afghanistan,154,3.203,0.35000,0.51700,0.36100,0.00000,0.02500,0.15800,NaN,153
780,2019,Central African Republic,155,3.083,0.02600,0.00000,0.10500,0.22500,0.03500,0.23500,NaN,148
781,2019,South Sudan,156,2.853,0.30600,0.57500,0.29500,0.01000,0.09100,0.20200,NaN,164

In [57]:
df_factors = final_df[[
    'year', 'family', 'life_expectancy', 'freedom',
    'government_corruption', 'generosity', 'dystopia_residual',
    'gdp_per_capita', 'happiness_rank', 'happiness_score', 'country_id'
]]
df_factors.to_csv("factors_ready.csv", index=False)

In [ ]:
df_countries.to_csv("countries.csv", index=False)

df_countries.head()

       country  country_id
0  Switzerland           1
1      Iceland           2
2      Denmark           3
3       Norway           4
4       Canada           5

In [59]:
df_countries.shape

(170, 2)

In [60]:
final_df[final_df['dystopia_residual'].isnull()]

,year,country,happiness_rank,happiness_score,gdp_per_capita,family,life_expectancy,freedom,government_corruption,generosity,dystopia_residual,country_id
470,2018,Finland,1,7.632,1.305,1.592,0.874,0.681,0.393,0.202,NaN,6
471,2018,Norway,2,7.594,1.456,1.582,0.861,0.686,0.340,0.286,NaN,4
472,2018,Denmark,3,7.555,1.351,1.590,0.868,0.683,0.408,0.284,NaN,3
473,2018,Iceland,4,7.495,1.343,1.644,0.914,0.677,0.138,0.353,NaN,2
474,2018,Switzerland,5,7.487,1.420,1.549,0.927,0.660,0.357,0.256,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...
777,2019,Rwanda,152,3.334,0.359,0.711,0.614,0.555,0.411,0.217,NaN,154
778,2019,Tanzania,153,3.231,0.476,0.885,0.499,0.417,0.147,0.276,NaN,146
779,2019,Afghanistan,154,3.203,0.350,0.517,0.361,0.000,0.025,0.158,NaN,153
780,2019,Central African Republic,155,3.083,0.026,0.000,0.105,0.225,0.035,0.235,NaN,148
781,2019,South Sudan,156,2.853,0.306,0.575,0.295,0.010,0.091,0.202,NaN,164

In [63]:
final_df['dystopia_residual'] = final_df['happiness_score'] - (
    final_df['gdp_per_capita'] +
    final_df['family'] +
    final_df['life_expectancy'] +
    final_df['freedom'] +
    final_df['government_corruption'] +
    final_df['generosity']
)

In [64]:
final_df.tail()

,year,country,happiness_rank,happiness_score,gdp_per_capita,family,life_expectancy,freedom,government_corruption,generosity,dystopia_residual,country_id
777,2019,Rwanda,152,3.334,0.359,0.711,0.614,0.555,0.411,0.217,0.467,154
778,2019,Tanzania,153,3.231,0.476,0.885,0.499,0.417,0.147,0.276,0.531,146
779,2019,Afghanistan,154,3.203,0.350,0.517,0.361,0.000,0.025,0.158,1.792,153
780,2019,Central African Republic,155,3.083,0.026,0.000,0.105,0.225,0.035,0.235,2.457,148
781,2019,South Sudan,156,2.853,0.306,0.575,0.295,0.010,0.091,0.202,1.374,164

In [65]:
df_factors = final_df[[
    'year', 'family', 'life_expectancy', 'freedom',
    'government_corruption', 'generosity', 'dystopia_residual',
    'gdp_per_capita', 'happiness_rank', 'happiness_score', 'country_id'
]]
df_factors.to_csv("factors_ready.csv", index=False)

In [66]:
df_factors.tail()

,year,family,life_expectancy,freedom,government_corruption,generosity,dystopia_residual,gdp_per_capita,happiness_rank,happiness_score,country_id
777,2019,0.711,0.614,0.555,0.411,0.217,0.467,0.359,152,3.334,154
778,2019,0.885,0.499,0.417,0.147,0.276,0.531,0.476,153,3.231,146
779,2019,0.517,0.361,0.000,0.025,0.158,1.792,0.350,154,3.203,153
780,2019,0.000,0.105,0.225,0.035,0.235,2.457,0.026,155,3.083,148
781,2019,0.575,0.295,0.010,0.091,0.202,1.374,0.306,156,2.853,164

In [67]:
df_factors.isnull().sum()

year                     0
family                   0
life_expectancy          0
freedom                  0
government_corruption    1
generosity               0
dystopia_residual        1
gdp_per_capita           0
happiness_rank           0
happiness_score          0
country_id               0
dtype: int64